.userInfo {
  background-color: #3c2f64;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-top: 20px;
  margin-left: 25px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 25px;
  img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 100;
  }
}

.userName {
  font-size: 12px;
}

.iconsUserInfo {
  display: flex;
  .iconsUserInfoContainer {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    .iconUserInfo {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  .iconsUserInfoContainer:hover {
    background-color: rgba(35, 45, 63, 1);
  }
}

.icon:hover {
  background-color: rgba(240, 248, 255, 0.047);
  border-radius: 8px;
}
